<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  </head>

  <body>
    <h2>処理施設名</h2>
    <h3><%= result.user_name %></h3>

    <h2>住所</h2>
    <h3><%= result.address %></h3>

    <h2>ひとこと</h2>
    <p><%= result.bio %></p>

    <button onclick="location.href='/purchaser/request_to_facility?facility_id=<%= result.id %>'">依頼作成</button>

  </body>
</html>
