<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <button type="button" onclick="history.back()">戻る</button>
        <div>
            <% for(var value of items){ %>
                <img src="/uploads/<%= value.image_link %>" width="150" height="150">
                <p>商品名：<%= value.wild_animal_name %></p>
                <p>価格：<%= value.price %></p>
                <p>購入個数<%= value.num_purchased %></p>
                <p>商品カテゴリ：<%= value.category_name %></p>
                <p>説明：<%= value.detail %></p>
                <p>処理施設名：<%= value.user_name %></p>
                <% if(!value.is_accepted){ %>
                    <form action="/purchaser/cancel_purchase" method="post">
                        <input type="hidden" name="purchase_id" value="<%= value.id %>">
                        <button type="submit">購入取り消し</button>
                    </form>
                <% }else{ %>
                    <p>
                        <font color="red">購入手続き完了</font>
                    </p>
                <% } %>
            <% } %>
        </div>
    </body>
</html>