
<!-- 
    ・home*
    ・商品一覧*
    ・購入一覧
    ・購入履歴
    ・購入依頼
    ・（仮）問い合わせ
    ・アカウント情報
    ・退会
-->
<!-- 
    -やること
    ページネーションをNodeで実装
-->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <!-- <link href='../css/item-list.css' rel='stylesheet' type='text/css'> -->
    <link href='/stylesheets/home.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/search-item.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/form-sample.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>

    
</head>

<body>
    <%- include("../sidebar_purchaser.ejs") %>

    <main id="main">
        <div id="main-in">
            <div class="box">
                <!-- <div class="item-list"> -->
                <div>
                    <h2>商品一覧</h2>
                </div>
                <form action="/purchaser/items_list" method="post">
                <div class="form__group">
                    <p class="form__group-header">
                        <label class="form__group-label" for="animal_options">害獣名選択</label>
                    </p>
                    <div class="form__group-content">
                        <div class="form__select-box">
                            <div class="select-box">
                                <select name="animal" id="animal_options" class="select-box__body">
                                    <% for(let i in animals) { %>
                                        <% let obj = animals[i] %>
                                        <option value="<%= obj.id %>"><%= obj.wild_animal_name %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form__group">
                    <p class="form__group-header">
                        <label class="form__group-label" for="category_options">商品カテゴリ選択</label>
                    </p>
                    <div class="form__group-content">
                        <div class="form__select-box">
                            <div class="select-box">
                                <select name="category" id="category_options" class="select-box__body">
                                    <% for(let i in categories) { %>
                                        <% let obj = categories[i] %>
                                        <option value="<%= obj.id %>"><%= obj.category_name %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <fieldset class="form__group">
                    <legend class="form__group-header">
                        <span class="form__group-label">処理施設名</span>
                    </legend>
                    <div class="form__group-content">
                        <div class="form__name">
                            <div class="form__text-input">
                                <input  class="text-input__body" type="text" name="facility">
                            </div>
                        </div>
                    </div>
                  </fieldset>
                  <button type="submit" class="button">検索</button>
                </form>
            </div>

            <div class="container">
                <div class="row row-cols-2 row-cols-md-3 g-4">
                    
                    <% if (item != "") { %>
                        <% for (let i in item) { %>
                            <% let obj = item[i] %>
                            <div class="col">
                                <div class="card">
                                    <a href="/purchaser/item_detail?id=<%= obj.id %>">
                                        <img src="/uploads/<%= obj.image_link %>" class="card-img-top" >
                                    </a>
                                    <div class="card-body">
                                        <p>￥<%= obj.price %></p>
                                        <p>在庫：<%= obj.stock %>個</p>
                                        <span class="prd-lst-span">
                                            <form action="/purchaser/add_cart" method="post">
                                                <input type="hidden" name="id" value="<%= obj.id %>">
                                                <input type="hidden" name="facility_id" value="<%= obj.user_id %>">
                                                <label for="quantity">購入数：</label>
                                                <input type="number" min="1" max="<%= obj.stock %>" class="num_textbox" name="quantity" required>個
                                                <button type="submit" class="add-cart-button">カートに入れる</button>
                                            </form>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                    
                </div>
            </div>

            <footer class="footer">
                <p>FOOTER KAKU</p>
                <p>〒000-0000 <br class="sp_block">石川県金沢市武蔵町16-10<br>TEL (076)260-6112　 FAX (076)256-0620<br>営業時間 /
                    10:00～19:30</p>
                <p class="copyright sp_none">COPYRIGHT © TOKYOZOUHOU CO.</p>
            </footer>
        </div>
    </main>
    <script type="text/javascript">
        (function ($) {
            $(function () {
                $('.sub-menu').on({
                    'mouseenter': function () {
                        $(this).addClass('is-active');
                    },
                    'mouseleave': function () {
                        $(this).removeClass('is-active');
                    }
                });
            });
        })(jQuery);
    </script>
</body>
</html>