

<!DOCTYPE html>
<html lang="ja">

<head><title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/register_vermin_info.css' />
    <link href='/stylesheets/home.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/form-sample.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
      integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
      crossorigin=""/>
    <link rel="stylesheet" href="/stylesheets/leaflet.usermarker.css" />
    <!-- <link rel="stylesheet" href="/stylesheets/L.Control.Zoomslider.css" /> -->
    <link rel="stylesheet" href="/stylesheets/leaflet.awesome-markers.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


      <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
    integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
    crossorigin=""></script>
    <script src="/javascripts/leaflet.usermarker.js"></script>
    <!-- <script src="/javascripts/L.Control.Zoomslider.js"></script> -->
    <script src="/javascripts/leaflet.awesome-markers.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            
</head>

<body onload="start()">
    <%- include("../sidebar_hunter.ejs") %>
    <main id="main">
        <div id="main-in">
            <div class="box">
                <h3><%= title %></h3>
                <div id="map"></div>
                <!-- <input type="button" name="reset" id="reset" onclick="refresh()" value="位置リセット"> -->
            
                <form action="/hunter/register_vermin_info" method="POST">
                    <!-- <p>現在の選択位置</p> -->
                    <!-- <p class="select-latitude"></p> -->
                    <!-- <p class="select-longitude"></p> -->
                    <fieldset class="form__group">
                        <legend class="form__group-header">
                            <span class="form__group-label">詳細情報入力</span>
                        </legend>
                        <div class="form__group-content">
                            <div class="form__name">
                                <div class="form__text-input">
                                    <textarea name="content" id="content" cols="30" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form__group">
                        <p class="form__group-header">
                            <label class="form__group-label" for="animal_options">害獣名選択</label>
                        </p>
                        <div class="form__group-content">
                            <div class="form__select-box">
                                <div class="select-box">
                                    <select name="animal_options" id="animal_options" class="select-box__body">
                                        <% for(let i in animals) { %>
                                            <% let obj = animals[i] %>
                                            <option value="<%= obj.id %>"><%= obj.wild_animal_name %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

            
                    <!-- <button type="button" id="open" onclick="openModal" disabled >
                        確認する
                    </button> -->
                    <button type="button" class="btn btn-primary mt-4"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">確認する</button>
                    <!-- <div class="container" id="a"></div> -->
            

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">確認画面</h5>
                                </div>
                                <div class="modal-body">
                                    <h3>この選択位置を送信しますか？</h3>
                                    <p id="position-not-selected">位置を選択してください。</p>
                                    <input type="hidden" name="latitude" value="" id="hidden-latitude">
                                    <input type="hidden" name="longitude" value="" id="hidden-longitude">
                                    <p class="select-latitude"></p>
                                    <p class="select-longitude"></p>
                                    <h3>選択された害獣名</h3>
                                    <p id="selected-animal"></p>
                                    <h3>詳細情報</h3>
                                    <p id="input-content"></p>
                                </div>
                                <div class="modal-footer">
                                    <!-- <form method="post" action="/facility/response_to_request"> -->
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">戻る</button>
                                        <input type="submit" value="はい" class="btn btn-primary" id="submit-button" disabled>
                                    <!-- </form> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            
        </div><!-- /#main-in -->
    </main>
    <script src="/javascripts/register_vermin_info.js"></script>
    <script>
        $("#content").change(function() {
            $("#input-content").text($("#content").val());
        });
        $("#animal_options").change(function() {
            $("#selected-animal").text($("#animal_options").find('option:selected').text());
        });
    </script>
</body>

</html>