<!-- 狩猟者公開依頼検索 -->
<!-- 
ファイル名 search_requests_from_facility.ejs
作成者 内藤壱成
概要 処理施設ユーザが公開している依頼を検索するための検索画面
変更日 2023-02-02
フロントの残り
-->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= title %>
    </title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='/stylesheets//home.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets//form-sample.css' rel='stylesheet' type='text/css'>
</head>

<body>
    <header id="global-head">
        <h1 id="brand-logo">Logo</h1>
    </header>
    <%- include("../sidebar_hunter.ejs") %><!--追加・変更-->
        <main id="main">
            <div id="main-in">
                <div class="box">
                    <h2>
                        <%= title %>
                    </h2>
                    <form id="contant-form" class="form" name="contact-form">
                        <fieldset class="form__group">
                            <legend class="form__group-header">
                                <span class="form__group-label">検索ワード<strong
                                        class="form__required-label">必須</strong></span>
                            </legend>
                            <div class="form__group-content">
                                <div class="form__name">
                                    <div class="form__text-input">
                                        <label class="visually-hidden" for="family-name-furigana">検索ワード</label>
                                        <p class="text-input">
                                            <input id="search-word" class="text-input__body" type="text" name="word"
                                                placeholder="鹿、猪など" title="害獣名を入力してください" aria-required="true">
                                            <span class="text-input__validator"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <!-- 動物名 -->
                        <div class="form__group">
                            <p class="form__group-header">
                                <label class="form__group-label" for="address-level1">都道府県<strong
                                        class="form__required-label">必須</strong></label>
                            </p>
                            <div class="form__group-content">
                                <div class="form__select-box">
                                    <div class="select-box">
                                        <select id="address-level1" class="select-box__body" name="address-level1"
                                            title="都道府県は必ず指定してください">
                                            <option value="0">選択なし</option>
                                            <% for(let i in animals) { %>
                                                <% let obj=animals[i] %>
                                                    <option value="<%= obj.id %>">
                                                        <%= obj.wild_animal_name %>
                                                    </option>
                                                    <% } %>
                                        </select>
                                    </div>
                                </div>
                                <p class="form__validation" data-validation="address-level1" role="alert"
                                    aria-live="assertive"></p>
                            </div>
                        </div>
                        <div class="form__submit">
                            <p class="form__validation" data-validation="submit" role="alert" aria-live="assertive"></p>
                                <!-- <button class="button" type="button">送信する</button> -->
                                <input class="button" type="submit" value="送信する" id="search-button">
                        </div>
                    </form>
                    <div>
                        <% if (results != "") { %>
                            <% for (let i in results) { %>
                                <% let obj = results[i] %>
                                <a>
                                    <!-- <a href="/hunter/public_request_from_facility_detail?id=<= obj.id %>"> -->
                                    <p>id: <%= obj.id %>
                                        <% for (let i in users) { %>
                                            <% let obj2 = users[i] %>
                                            <% if (obj.user_1_id == obj2.id) { %>
                                                投稿者 <%= obj2.user_name %> さん</p>
                                            <% } %>
                                        <% } %>
                                </a>
                                
                            <% } %>
                            <% } else { %>
                                <p>受注済み依頼はありません</p>
                                <% } %>
                        
                    </div>
                </div>
            </div><!-- /#main-in -->
        </main>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
        <script type="text/javascript">
            (function ($) {
                $(function () {
                    $('.sub-menu').on({
                        'mouseenter': function () {
                            $(this).addClass('is-active');
                        },
                        'mouseleave': function () {
                            $(this).removeClass('is-active');
                        }
                    });
                });
            })(jQuery);
        </script>

</body>

</html>
<!-- bk -->
<!-- <!DOCTYPE html>
<html>
  <head>
    <title><= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  </head>

  <body>
    <h1><= title %></h1>
    <form method="post" action="/hunter/search_requests_from_facility">
        <label for="search_word">検索ワード</label>
        <input type="text" id="search-word" name="word">

        <label for="animals">害獣名</label>
        <select name="animals" id="select-animals">
            <option value="0">選択なし</option>
            < for(let i in animals) { %>
                < let obj = animals[i] %>
                <option value="<= obj.id %>" ><= obj.wild_animal_name %></option>
            < } %>
        </select>

        <input type="submit" value="検索" id="search-button">
    </form>

    <div>
        < if (results != "") { %>
            < for (let i in results) { %>
                < let obj = results[i] %>
                <a href="/hunter/public_request_from_facility_detail?id=<= obj.id %>">
                    <p>id: <= obj.id %>
                        < for (let i in users) { %>
                            < let obj2 = users[i] %>
                            < if (obj.user_1_id == obj2.id) { %>
                                投稿者 <= obj2.user_name %> さん</p>
                            < } %>
                        < } %>
                </a>
                
            < } %>
        < } %>
        
    </div>

  </body>
</html> -->