<!-- 処理施設検索入力 -->
<!-- 
ファイル名 search_facilities.ejs
作成者 内藤壱成
概要 処理施設を検索するための情報を入力するための入力画面
製作日
変更日 2023-1-30

フロントの残り
・セレクトのプルダウンマークの位置修正
・ボタンがどこのスタイルが適応されているのか
・検索後の一覧のデザイン、JS
-->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <link href='/stylesheets/home.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/form-sample.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/hunter_search_facilities.css">
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
        integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
    <link rel="stylesheet" href="/stylesheets/leaflet.usermarker.css" />
    <link rel="stylesheet" href="/stylesheets/L.Control.Zoomslider.css" />
    <link rel="stylesheet" href="/stylesheets/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
        integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
    <script src="/javascripts/leaflet.usermarker.js"></script>
    <script src="/javascripts/L.Control.Zoomslider.js"></script>
    <script src="/javascripts/leaflet.awesome-markers.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
</head>

<body onload="start()">
    <%- include("../sidebar_hunter.ejs") %>
    <main id="main">
        <div id="main-in">
            <div class="box">
                <h2>
                    <%= title %>
                </h2>
                <div id="contant-form" class="form" name="contact-form">
                    <!-- 地域 -->
                    <div class="form__group" id="form-select-prefectures">
                        <p class="form__group-header">
                            <label class="form__group-label" for="region">地域 </label>
                        </p>
                        <div class="form__group-content">
                            <div class="form__select-box">
                                <div class="select-box">
                                    <select id="select-regions" class="select-box__body" name="region" title="都道府県は必ず指定してください"
                                        required aria-required="true">
                                        <option value="0">選択なし</option>
                                        <% for(let i in regions) { %>
                                            <% let obj=regions[i] %>
                                                <option value="<%= obj.id %>">
                                                    <%= obj.region_name %>
                                                </option>
                                            <% } %>
                                    </select>
                                </div>
                            </div>
                            </p>
                        </div>
                    </div>
                    <!-- ボタン -->
                    <div class="form__submit">
                        <p class="form__validation" data-validation="submit" role="alert" aria-live="assertive"></p>
                        <button type="button" id="search-button" class="button">検索</button>
                        <!-- <button class="button" type="submit">送信する</button> -->
                    </div>
                    <div id="results-count"></div>
                    <div id="map"></div>
                </div>
            </div>
            <footer class="footer">
                <p>FOOTER KAKU</p>
                <p>〒000-0000 <br class="sp_block">石川県金沢市武蔵町16-10<br>TEL (076)260-6112　 FAX (076)256-0620<br>営業時間 /
                    10:00～19:30</p>
                <p class="copyright sp_none">COPYRIGHT © TOKYOZOUHOU CO.</p>
            </footer>
        </div><!-- /#main-in -->
    </main>
    <script type="text/javascript">
        (function ($) {
            $(function () {
                $('.sub-menu').on({
                    'mouseenter': function () {
                        $(this).addClass('is-active');
                    },
                    'mouseleave': function () {
                        $(this).removeClass('is-active');
                    }
                });
            });
        })(jQuery);
    </script>
    <script src="/javascripts/hunter_search_facilities.js"></script>
</body>

</html>
