
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <!-- <link href='../css/item-list.css' rel='stylesheet' type='text/css'> -->
    <link href='/stylesheets/home.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/form-sample.css">
    <link rel="stylesheet" href="/stylesheets/exhibit_list.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>

    
</head>

<body>
    <%- include("../sidebar_facility.ejs") %>

    <main id="main">
        <div id="main-in">
            <div class="box">
                <div>
                    <h2><%= title %></h2>
                </div>
                <div class="container">
                    <div class="row row-cols-1 g-4">

                        <% if (items != "") { %>
                            <% for (let i in items) { %>
                                <% let obj = items[i] %>
                                <% let created_at = new Date(obj.createdAt) %>
                                <div class="col">
                                    <div class="card" style="max-width: 500px;">
                                        <div class="card-header">
                                            <div class="row g-0">
                                                <div class="col-md-8">
                                                    <p>作成日時: <%= created_at.getFullYear() %>年 <%= created_at.getMonth() +1 %>月<%= created_at.getDate() %>日 <%= created_at.getHours() %>時<%= created_at.getMinutes() %>分</p>
                                                </div>
                                                <div class="col-md-4 text-end">
                                                    <a href="/facility/exhibit_detail/?id=<%= obj.id %>">商品詳細</a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                        <div class="card-body">
                                            <div class="row g-0">
                                                <div class="col-md-6">
                                                    <img src="/uploads/<%= obj.image_link %>" style="object-fit: contain; width: 100%; height: 100%;">
                                                </div>
                                                <div class="col-md-6 text-center">
                                                    <p>価格：<%= obj.price %>円</p>
                                                    <p>在庫：<%= obj.stock %>個</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                            
                    </div>
                </div>
                <button onclick="history.back()" class="btn btn-secondary" type="button">戻る</button>

            
        </div>
    </main>
    <script type="text/javascript">
        (function ($) {
            $(function () {
                $('.sub-menu').on({
                    'mouseenter': function () {
                        $(this).addClass('is-active');
                    },
                    'mouseleave': function () {
                        $(this).removeClass('is-active');
                    }
                });
            });
        })(jQuery);
    </script>
</body>

</html>