<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p><%= content.user_name %></p>
        <p><%= content.email %></p>
        <p><%= content.bio %></p>
        <p><%= content.address %></p>
        <a href="/facility/hunter_req_input/?id=<%= content.id %>">決定</a>
    </body>
</html>