<!-- 狩猟依頼情報入力画面 -->
<!-- <!DOCTYPE html>
<html>
    <head></head>
    <body>
        <form action="/facility/create_hunter_req" method="post">
            <label>依頼内容</label>
            <input type="text" name="text">
            <label>害獣名</label>
            <input type="text" name="animal">
            <label>納期</label>
            <input type="date" name="date">
            <input type="submit" value="決定">
        </form>
    </body>
</html> -->




<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>タイトル</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/home.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/form-sample.css' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/hunter_req_input.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
</head>

<body onload="init_insert()">
    <%- include("../sidebar_facility.ejs") %>

        <main id="main">
            <div id="main-in">
                <div class="box">
                    <h2>
                        <%= title %>
                    </h2>
                    <form method="post" action="/facility/create_hunter_req">
                        <div class="form__group">
                            <p class="form__group-header">
                                <label class="form__group-label" for="animal_options">動物名選択</label>
                            </p>
                            <div class="form__group-content">
                                <div class="form__select-box">
                                    <div class="select-box">
                                        <select name="animal_options" id="animal_options" class="select-box__body">
                                            <% for(let i in animals) { %>
                                                <% let obj=animals[i] %>
                                                    <option value="<%= obj.id %>">
                                                        <%= obj.wild_animal_name %>
                                                    </option>
                                                    <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form__group">
                            <p class="form__group-header">
                                <label class="form__group-label" for="request_num">個数</label>
                            </p>
                            <div class="form__group-content">
                                <div class="form__text-input">
                                    <input type="number" name="request_num" id="request_num" value="1" min="1">
                                </div>
                            </div>
                        </div> -->
                        <fieldset class="form__group">
                            <p class="form__group-header">
                                <span class="form__group-label">個数</span>
                            </p>
                            <div class="form__group-content">
                                <div class="form__name">
                                    <div class="form__text-input">
                                        <input class="text-input__body_2" type="number" name="request_num" min="1"
                                            value="1" id="request_num" required>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <!-- スタイル合わせる　飛ばし― -->
                        <div class="form__group">
                            <p class="form__group-header">
                                <label class="form__group-label" for="appointed_day">希望納期</label>
                            </p>
                            <div class="form__group-content">
                                <label id="datetime-label">
                                    <input type="datetime-local" name="appointed_day" id="appointed_day">
                                </label>
                            </div>
                        </div>
                        <fieldset class="form__group">
                            <p class="form__group-header">
                                <span class="form__group-label">詳細</span>
                            </p>
                            <div class="form__group-content">
                                <div class="form__name">
                                    <div class="form__text-input">
                                        <textarea name="content" class="text-input__body" id="content"></textarea>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <input type="hidden" name="hunter_id" id="hunter_id" value="<%= hunter_user.id %>">
                        <input type="radio" name="private_or_public" value="private" id="radio-private" checked>
                        <label for="radio-private">処理施設を指定して依頼を作成する。</label><br>
                        <div id="selected-hunter">
                            <h2>選択された狩猟者</h2>
                            <p>
                                <%= hunter_user.user_name %>
                            </p>
                        </div>
                        <input type="radio" name="private_or_public" value="public" id="radio-public">
                        <label for="radio-public">狩猟者を指定せず、公開の依頼を作成する。</label><br>
                        <!-- <button onclick="history.back()" class="btn btn-secondary" type="button">戻る</button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                            確認
                        </button> -->
                        <div class="form__submit">
                            <p class="form__validation" data-validation="submit" role="alert" aria-live="assertive">
                            </p>
                            <button onclick="history.back();" class="button" type="button">戻る</button>
                            <button class="button" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                style="background-color: #0D6EFD;">確認</button>
                        </div>
                </div>
            </div>
        </main>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">依頼内容確認</h5>
                    </div>
                    <div class="modal-body">
                        <!-- <h2>選択された害獣名</h2>
                        <p id="selected-animal"></p>
                        <h2>注文個数</h2>
                        <p id="order-num"></p>
                        <h2>希望納期日</h2>
                        <p id="selected-appointed-day"></p>
                        <h2>詳細情報</h2>
                        <p id="input-content"></p>
                        <h2 id="message-public">依頼の公開：公開する</h2>
                        <div id="message-private">
                            <h2>選択された狩猟者</h2>
                            <p>
                                <%= hunter_user.user_name %>
                            </p>
                        </div> -->
                        <div class="form__group">
                            <p class="form__group-header">
                                <label class="form__group-label" for="animal_options">動物名選択</label>
                            </p>
                            <div class="form__group-content">
                                <div class="form__name">
                                    <div class="form__text-input">
                                        <p id="selected-animal" class="text-input__body_2"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <fieldset class="form__group">
                            <p class="form__group-header">
                                <span class="form__group-label">個数</span>
                            </p>
                            <div class="form__group-content">
                                <div class="form__name">
                                    <div class="form__text-input">
                                        <p id="order-num" class="text-input__body_2"></p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <!-- スタイル合わせる　飛ばし― -->
                        <div class="form__group">
                            <p class="form__group-header">
                                <label class="form__group-label" for="appointed_day">希望納期</label>
                            </p>
                            <div class="form__group-content">
                                <label id="datetime-label">
                                    <p id="selected-appointed-day"></p>
                                </label>
                            </div>
                        </div>

                        <fieldset class="form__group">
                            <p class="form__group-header">
                                <span class="form__group-label">詳細</span>
                            </p>
                            <div class="form__group-content">
                                <div class="form__name">
                                    <div class="form__text-input">
                                        <p id="input-content" class="text-input__body_2"></p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form__group">
                            <p class="form__group-header">
                                <label class="form__group-label" for="animal_options">選択された狩猟者</label>
                            </p>
                            <div class="form__group-content">
                                <div class="form__name">
                                    <div class="form__text-input">
                                        <p class="text-input__body_2">
                                <%= hunter_user.user_name %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <!-- <div class="form__submit">
                        <p class="form__validation" data-validation="submit" role="alert" aria-live="assertive">
                        </p>
                        <button onclick="history.back();" class="button" type="button">戻る</button>
                        <button class="button" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                            style="background-color: #0D6EFD;">確認</button>
                    </div> -->
                    <!-- <div class="modal-footer">
                        <button type="button" class="button" data-bs-dismiss="modal">戻る</button>
                        <input type="submit" value="依頼作成" class="button" style="background-color: #0D6EFD;">
                    </div> -->
                    <div class="row m-3" style="padding: 0px;">
                        <div class="col-6">
                            <button onclick="history.back()" class="button" type="button">戻る</button>
                        </div>
                        <div class="col-6 text-center">
                            <input type="submit" value="出品登録" class="button"
                            style="background-color: #f94242;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
        <!-- モーダルエリアここまで -->

        <script type="text/javascript">
            function init_insert() {
                var now = new Date();
                now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
                /* remove second/millisecond if needed - credit ref. https://stackoverflow.com/questions/24468518/html5-input-datetime-local-default-value-of-today-and-current-time#comment112871765_60884408 */
                now.setMilliseconds(null)
                now.setSeconds(null)
                document.getElementById('appointed_day').value = now.toISOString().slice(0, -1);

                $("#selected-animal").text($("#animal_options").find('option:selected').text());
                $("#order-num").text($("#request_num").val());
                $("#selected-appointed-day").text(now.getMonth() + 1 + "月 " + now.getDate() + "日 " + (now.getHours() - 9) + "時" + now.getMinutes() + "分");
                $("#input-content").text($("#content").val());
                $("#message-private").show();
                $("#message-public").hide();

            }

            $("#animal_options").change(function () {
                $("#selected-animal").text($("#animal_options").find('option:selected').text());
            });

            $("#request_num").keypress(function () {
                $("#order-num").text($("#request_num").val());
            });

            $("#request_num").change(function () {
                $("#order-num").text($("#request_num").val());
            });

            $("#content").change(function () {
                $("#input-content").text($("#content").val());
            })

            $("#appointed_day").change(function () {
                // alert("change");
                const d_string = Date.parse($("#appointed_day").val());
                var d1 = new Date(d_string);
                // alert(d1.getMonth());
                $("#selected-appointed-day").text(d1.getMonth() + 1 + "月 " + d1.getDate() + "日 " + d1.getHours() + "時" + d1.getMinutes() + "分");
            });

            $('input[type=radio][name=private_or_public]').change(function () {
                if (this.value == 'private') {
                    $("#message-private").show();
                    $("#message-public").hide();
                    $("#selected-hunter").show();
                }
                else if (this.value == 'public') {
                    $("#message-private").hide();
                    $("#message-public").show();
                    $("#selected-hunter").hide();
                }
            });
        </script>
</body>

</html>