<!-- 狩猟者検索画面 -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/home.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/form-sample.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/facility_search_hunter.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
</head>

<body onload="start()">
    <%- include("../sidebar_facility.ejs") %>
    <main id="main">
        <div id="main-in">
            <div class="box">
                <h2><%= title %></h2>

                <fieldset class="form__group">
                  <legend class="form__group-header">
                      <span class="form__group-label">検索ワード</span>
                  </legend>
                  <div class="form__group-content">
                      <div class="form__name">
                          <div class="form__text-input">
                              <input  class="text-input__body" type="text" name="search-word" id="search-word">
                          </div>
                      </div>
                  </div>
                </fieldset>

                <div class="form__group">
                  <p class="form__group-header">
                      <label class="form__group-label" for="region">地域</label>
                  </p>
                  <div class="form__group-content">
                      <div class="form__select-box">
                          <div class="select-box">
                            <select name="region" id="region" class="select-box__body">
                                <option value="0">選択なし</option>
                                <% for(let i in regions) { %>
                                    <% let obj = regions[i] %>
                                    <option value="<%= obj.id %>" ><%= obj.region_name %></option>
                                <% } %>
                            </select><br>
                          </div>
                      </div>
                  </div>
                </div>

                <button type="button"  id="search-button" class="button">検索</button>
            <div id="search-results"></div>
            </div>
        </div><!-- /#main-in -->
    </main>
    <script type="text/javascript">
        (function ($) {
            $(function () {
                $('.sub-menu').on({
                    'mouseenter': function () {
                        $(this).addClass('is-active');
                    },
                    'mouseleave': function () {
                        $(this).removeClass('is-active');
                    }
                });
            });
        })(jQuery);
    </script>
    <script src="/javascripts/facility_search_hunters.js"></script>
</body>

</html>