<!-- 公開依頼検索画面 -->

<!-- 
ファイル名 search_requests_from_purchaser.ejs
作成者 内藤壱成
概要 購入者ユーザの公開依頼を処理施設ユーザが検索するための情報入力画面
製作日 2023-1-13
変更日
-->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= title %>
    </title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/issei/home.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/issei/form-sample.css' rel='stylesheet' type='text/css'>
</head>

<body>
    <header id="global-head">
        <h1 id="brand-logo">Logo</h1>
    </header>
    <aside id="sidebar">
        <nav id="global-nav">
            <ul>
                <li><a href="./home.html" class="nav-tach">Home</a></li>
                <li><a href="./accepting_orders_list.html" class="nav-tach">受注一覧</a></li>
                <li class="sub-menu">
                    <a href="#">狩猟者依頼受注</a>
                    <ul class="sub-menu-nav">
                        <li><a href="./specific_orders_list.html">指名依頼一覧</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="#">購入者依頼受注</a>
                    <ul class="sub-menu-nav">
                        <li><a href="./open_orders_search.html">公開依頼検索</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="#">害獣位置情報</a>
                    <ul class="sub-menu-nav">
                        <li><a href="beast_position_input.html">登録</a></li>
                        <li><a href="beast_position_search.html">検索</a></li>
                    </ul>
                </li>
                <li><a href="./contact.html" class="nav-tach">問い合わせ</a></li>
                <li><a href="./profile.html" class="nav-tach">アカウント情報</a></li>
                <li><a href="../accounts/withdrawal_accounts.html" class="nav-warning-tach">退会</a></li>
            </ul>
        </nav>
    </aside>
    <main id="main">
        <div id="main-in">
            <div class="box">
                <h2>
                    <%= title %>
                </h2>
                <form id="contant-form" class="form" name="contact-form">
                    <!-- 検索キーワード -->
                    <fieldset class="form__group">
                        <legend class="form__group-header">
                            <span class="form__group-label">検索ワード<strong class="form__required-label">必須</strong></span>
                        </legend>
                        <div class="form__group-content">
                            <div class="form__name">
                                <div class="form__text-input">
                                    <label class="visually-hidden" for="word">検索ワード</label>
                                    <p class="text-input">
                                        <input id="word" class="text-input__body" type="text" name="word"
                                            placeholder="しか、猪など" title="検索ワードを入力してください" required aria-required="true">
                                        <span class="text-input__validator"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <!-- カテゴリー -->
                    <div class="form__group">
                        <p class="form__group-header">
                            <label class="form__group-label" for="address-level1">カテゴリー<strong
                                    class="form__required-label">必須</strong></label>
                        </p>
                        <div class="form__group-content">
                            <div class="form__select-box">
                                <div class="select-box">
                                    <select id="address-level1" class="select-box__body" name="address-level1"
                                        title="カテゴリーは必ず指定してください" required aria-required="true">
                                        <option value="" disabled selected hidden>カテゴリーを選択してください</option>
                                        <option value="0">選択なし</option>
                                        <% for(let i in categories) { %>
                                            <% let obj=categories[i] %>
                                                <option value="<%= obj.id %>">
                                                    <%= obj.category_name %>
                                                </option>
                                                <% } %>
                                    </select>
                                </div>
                            </div>
                            <p class="form__validation" data-validation="address-level1" role="alert"
                                aria-live="assertive"></p>
                        </div>
                    </div>
                    <!-- 害獣名 -->
                    <div class="form__group">
                        <p class="form__group-header">
                            <label class="form__group-label" for="address-level1">害獣名<strong
                                    class="form__required-label">必須</strong></label>
                        </p>
                        <div class="form__group-content">
                            <div class="form__select-box">
                                <div class="select-box">
                                    <select id="address-level1" class="select-box__body" name="address-level1"
                                        title="害獣名は必ず指定してください" required aria-required="true">
                                        <option value="" disabled selected hidden>害獣名を選択してください</option>
                                        <option value="0">選択なし</option>
                                        <% for(let i in animals) { %>
                                            <% let obj=animals[i] %>
                                                <option value="<%= obj.id %>">
                                                    <%= obj.wild_animal_name %>
                                                </option>
                                                <% } %>
                                    </select>
                                </div>
                            </div>
                            <p class="form__validation" data-validation="address-level1" role="alert"
                                aria-live="assertive"></p>
                        </div>
                    </div>
                    <div class="form__submit">
                        <p class="form__validation" data-validation="submit" role="alert" aria-live="assertive"></p>
                        <button class="button child1" type="submit">戻る</button>
                        <input class="button" type="submit" value="検索" id="search-button">
                    </div>
                </form>
                <div>
                    <% if (results !="" ) { %>
                        <% for (let i in results) { %>
                            <% let obj=results[i] %>
                                <a href="/facility/public_request_from_purchaser_detail?id=<%= obj.id %>">
                                    <p>id: <%= obj.id %>
                                            <% for (let i in users) { %>
                                                <% let obj2=users[i] %>
                                                    <% if (obj.user_1_id==obj2.id) { %>
                                                        投稿者 <%= obj2.user_name %> さん</p>
                                    <% } %>
                                        <% } %>
                                </a>
                                <% } %>
                                    <% } %>
                </div>
            </div>
            <footer class="footer">
                <p>FOOTER KAKU</p>
                <p>〒000-0000 <br class="sp_block">石川県金沢市武蔵町16-10<br>TEL (076)260-6112　 FAX (076)256-0620<br>営業時間 /
                    10:00～19:30</p>
                <p class="copyright sp_none">COPYRIGHT © TOKYOZOUHOU CO.</p>
            </footer>
        </div><!-- /#main-in -->
    </main>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script type="text/javascript">
        (function ($) {
            $(function () {
                $('.sub-menu').on({
                    'mouseenter': function () {
                        $(this).addClass('is-active');
                    },
                    'mouseleave': function () {
                        $(this).removeClass('is-active');
                    }
                });
            });
        })(jQuery);
    </script>

</body>

</html>
