<!-- 購入者依頼 -->

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/home.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/form-sample.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/show_requests_from_purchaser.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
</head>

<body onload="start()">
    <%- include("../sidebar_facility.ejs") %>
    <main id="main">
        <div id="main-in">
            <div class="box">
                <h2><%= title %></h2>

                <div class="container">
                    <ul class="list-group list-group-flush">
                        <% if (results != "") { %>
                            <div class="row">
                                <div class="col-3 text-center">ユーザー</div>
                                <div class="col-2 text-center">ステータス</div>
                                <div class="col-3 text-center">作成日時</div>
                                <div class="col-3 text-center">期限</div>
                                <div class="col-1"></div>
                            </div>
                            <% for(let i in results) { %>
                                <% let obj = results[i] %>
                                <% let created_at = new Date(obj.createdAt); %>
                                <% let appointed_day = new Date(obj.appointed_day); %>
                                    <div class="row p-2 request-list">
                                        <div class="col-3 text-center"><%= obj.request_user.user_name %></div>
                                        <div class="col-2 text-center purchase-status">
                                            <% if (!obj.is_accepted && !obj.is_closed) { %>
                                                <button type="button" class="btn btn-outline-primary" disabled>未受注</button>
                                            <% } %>
                                            <% if (obj.is_accepted && !obj.is_closed) { %>
                                                <button type="button" class="btn btn-outline-info" disabled>受注済</button>
                                            <% } %>
                                            <% if (!obj.is_accepted && obj.is_closed ) { %>
                                                <button type="button" class="btn btn-outline-danger" disabled>拒否</button>
                                            <% } %>
                                            <% if (obj.is_accepted && obj.is_closed ) { %>
                                                <button type="button" class="btn btn-outline-success" disabled>完了</button>
                                            <% } %>
                                        </div>
                                        <div class="col-3 text-center"><%= created_at.getFullYear() %>/<%= created_at.getMonth() +1 %>/<%= created_at.getDate() %><br> <%= created_at.getHours() %>:<%= created_at.getMinutes() %></div>
                                        <div class="col-3 text-center"><%= appointed_day.getFullYear() %>/<%= appointed_day.getMonth() +1 %>/<%= appointed_day.getDate() %><br> <%= appointed_day.getHours() %>:<%= appointed_day.getMinutes() %></div>
                                        <div class="col-1">
                                            <a href="/facility/request_from_purchaser_detail?id=<%= obj.id %>">
                                                <button type="button" class="btn btn-secondary">詳細</button>
                                            </a>
                                        </div>
                                    </div>
                            <% } %>
                        <% } else { %>
                            <p>依頼はありません</p>
                        <% } %>
                    </ul>
                </div>
        </div><!-- /#main-in -->
    </main>
    <script type="text/javascript">
        (function ($) {
            $(function () {
                $('.sub-menu').on({
                    'mouseenter': function () {
                        $(this).addClass('is-active');
                    },
                    'mouseleave': function () {
                        $(this).removeClass('is-active');
                    }
                });
            });
        })(jQuery);
    </script>
</body>

</html>